html, body, #root{
    height: 100%;
    margin: 0;
    .containerText{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }
}